# ===============================
# Laravel
# ===============================

/vendor
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache
/bootstrap/ssr

# ===============================
# Storage
# ===============================

/storage/*.key
/storage/pail
/.phpunit.cache
.phpunit.result.cache

# ===============================
# Environment files
# ===============================

.env
.env.backup
.env.production
auth.json

# ===============================
# Logs
# ===============================

npm-debug.log
yarn-error.log

# ===============================
# OS Files
# ===============================

.DS_Store
Thumbs.db

# ===============================
# IDE / Editors
# ===============================

.idea
.vscode
.fleet
.zed
.nova

# ===============================
# PHP Tools
# ===============================

.phpactor.json

# ===============================
# Laravel Homestead
# ===============================

Homestead.json
Homestead.yaml

# ===============================
# Frontend temporary
# ===============================

/resources/js/actions
/resources/js/routes
/resources/js/wayfinder

# ===============================
# Testing
# ===============================

.phpunit.cache

# ===============================
# Misc
# ===============================

*.log
*.cache